@import url(//fonts.googleapis.com/earlyaccess/nicomoji.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Notable", sans-serif;
}

.intro {
	color: white;
	font-family: "Anton", sans-serif;
	/* REMOVE */
	/* display: none; */
}

.intro #intro-scroll {
	position: absolute;
	top: 90vh;
	left: 50%;
	transform: translateX(-50%);
}

.intro #intro-name {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.8rem;
}

.intro #intro-full-stack {
	position: absolute;
	top: 30%;
	left: 30%;
	text-transform: uppercase;
	opacity: 0;
}

.intro #intro-motivated {
	position: absolute;
	top: 70%;
	left: 20%;
	font-size: 3rem;
	opacity: 0;
}

.intro #intro-passion {
	position: absolute;
	top: 50%;
	left: 20%;
	opacity: 0;
	font-size: 4rem;
}

.intro #intro-join {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	opacity: 0;
}

.intro video {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.intro::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

h1 {
	font-size: 4rem;
}

@media (max-width: 700px) {
	.intro #intro-join {
		font-size: 1.5rem;
	}

	.intro #intro-passion {
		font-size: 1.2rem;
	}
}

/* liquid scene */

.portfolio-intro {
	background-color: rgb(61, 61, 61);
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.portfolio-intro #portfolio-logo {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.portfolio-intro #portfolio-logo path:nth-child(2) {
	stroke-dashoffset: 154px;
	stroke-dasharray: 154px;
	animation: portfolio-line 1s ease forwards;
	animation-play-state: paused;
}

.portfolio-intro #portfolio-logo path:nth-child(3) {
	stroke-dasharray: 160px;
	stroke-dashoffset: 160px;
	animation: portfolio-line 1.5s ease forwards 0.5s;
	animation-play-state: paused;
}

.portfolio-intro #portfolio-logo path:nth-child(4) {
	stroke-dasharray: 194px;
	stroke-dashoffset: 194px;
	animation: portfolio-line 2s ease forwards 1s;
	animation-play-state: paused;
}
.portfolio-intro #portfolio-logo path:nth-child(5) {
	stroke-dasharray: 107px;
	stroke-dashoffset: 107px;
	animation: portfolio-line 2.5s ease forwards 1.5s;
	animation-play-state: paused;
}
.portfolio-intro #portfolio-logo path:nth-child(6) {
	stroke-dasharray: 144px;
	stroke-dashoffset: 144px;
	animation: portfolio-line 3s ease forwards 2s;
	animation-play-state: paused;
}
.portfolio-intro #portfolio-logo path:nth-child(7) {
	stroke-dasharray: 160px;
	stroke-dashoffset: 160px;
	animation: portfolio-line 3.5s ease forwards 2.5s;
	animation-play-state: paused;
}
.portfolio-intro #portfolio-logo path:nth-child(8) {
	stroke-dasharray: 95px;
	stroke-dashoffset: 95px;
	animation: portfolio-line 1s ease forwards 3s;
	animation-play-state: paused;
}
.portfolio-intro #portfolio-logo path:nth-child(9) {
	stroke-dasharray: 142px;
	stroke-dashoffset: 142px;
	animation: portfolio-line 1s ease forwards 3.5s;
	animation-play-state: paused;
}
.portfolio-intro #portfolio-logo path:nth-child(10) {
	stroke-dasharray: 160px;
	stroke-dashoffset: 160px;
	animation: portfolio-line 4s ease forwards 4s;
	animation-play-state: paused;
}

@keyframes portfolio-line {
	to {
		stroke-dashoffset: 0px;
	}
}

/* neon button */

#browse {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: "Nico Moji", cursive;
	display: inline-block;
	padding: 25px 30px;
	color: #fff;
	transition: 0.5s;
	font-size: 1rem;
	overflow: hidden;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
	z-index: 9;
}

#browse:hover {
	background-color: #fff;
	color: black;
	box-shadow: 0 0 5px #fff, 0 0 200px #fff, 0 0 50px #fff;
	font-size: 1rem;
	transition-delay: 0.3s;
}

#browse span {
	position: absolute;
	display: block;
}

#browse span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #fff);
	animation: neon-span1 1s infinite;
}

#browse span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #fff);
	animation: neon-span2 1s infinite 1.5s;
}

#browse span:nth-child(3) {
	bottom: 0;
	left: 100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #fff);
	animation: neon-span3 1s infinite 2s;
}

#browse span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #fff);
	animation: neon-span4 1s infinite 2.7s;
}

@keyframes neon-span1 {
	to {
		left: 100%;
	}
}

@keyframes neon-span2 {
	to {
		top: 100%;
	}
}

@keyframes neon-span3 {
	to {
		left: 0;
	}
}

@keyframes neon-span4 {
	to {
		bottom: 100%;
	}
}

#wave1 {
	position: absolute;
	top: -300px;
	left: 0;
	height: 150vh;
}

#wave-first {
	opacity: 0;
}

/* swiper! */
.slider-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 2rem;
}
.swiper-container {
	/* position: absolute;
	left: 50%;
	top: 5%; */
	display: none;
	width: 53%;
}

#swiper-container {
	/* position: absolute;
	left: 50%;
	transform: translateX(-50%); */
}

.swiper-slide {
	background-color: white;
	background-position: center;
	background-size: cover;
	text-align: center;
	font-family: "Vollkorn", serif;
}

.swiper-slide img {
	width: 100%;
}

.swiper-slide .slide-title {
	font-size: 2rem;
	border-bottom: 8px solid rgb(192, 191, 191);
	border-top: 8px solid rgb(192, 191, 191);
	padding: 1rem 0;
	margin-bottom: 1rem;
	font-weight: 900;
}

.swiper-slide .slide-summary {
	padding: 2rem 0;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	margin-top: 1rem;
	font-weight: 500;
	font-style: italic;
}

.swiper-slide .slide-tech ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 2rem 0;
	flex-wrap: wrap;
}

.swiper-slide .slide-tech ul li {
	padding-bottom: 1rem;
	color: rgb(85, 85, 85);
}

.swiper-pagination-bullet {
	width: 15px !important;
	height: 15px !important;
}

.swiper-button-prev {
	color: white !important;
	left: -50px !important;
}
.swiper-button-next {
	color: white !important;
	right: -50px !important;
}

/* contact */

.contact {
	background-color: black;
	height: 100vh;
}

/* footer */

.footer {
	background-color: white;
	height: 30vh;
}
